@model BusinessObject.Member

@{
    ViewData["Title"] = "Your Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>User Profile</h4>
                    <div class="breadcrumb__links">
                        <a asp-controller="Home" asp-action="Index">Home</a>
                        <span>Profile</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<section class="profile">
    <div class="container pt-5 pb-5">

        @if (!string.IsNullOrEmpty(ViewBag.Error))
        {
            <div class="alert alert-danger" role="alert">
                @ViewBag.Error
            </div>
        }
        else if (!string.IsNullOrEmpty(ViewBag.Success))
        {
            <div class="alert alert-success" role="alert">
                @ViewBag.Success
            </div>
        }

        <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-3">
                <!-- Nav tabs -->
                <div class="dashboard_tab_button">
                    <ul class="nav flex-column dashboard-list">
                        <li><a asp-controller="Member" asp-action="Profile" class="primary-btn">My Profile</a></li>
                        <li> <a asp-controller="Order" asp-action="Index" class="primary-btn">Order</a></li>
                        <li> <a asp-controller="Member" asp-action="ChangePassword" class="primary-btn">Change Password</a></li>
                        <li><a asp-controller="Logout" asp-action="Index" class="primary-btn">Logout</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12 col-md-9 col-lg-9">
                <div class="dashboard_detail contact__form" id="account-details">
                    <form asp-action="Profile">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="MemberId" />
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-lg-6">
                            <label asp-for="Fullname"></label>
                            <input asp-for="Fullname" />
                            <span asp-validation-for="Fullname" class="text-danger"></span>
                            </div>
                            <div class="col-lg-6">
                            <label asp-for="Email"></label>
                            <input asp-for="Email" type="email" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="col-lg-6">
                            <label asp-for="Phone"></label>
                            <input asp-for="Phone" type="tel" />
                            <span asp-validation-for="Phone" class="text-danger"></span>
                            </div>
                            <div class="col-lg-6">
                            <label asp-for="Address"></label>
                            <input asp-for="Address" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                            <div class="col-lg-6">
                            <label asp-for="City"></label>
                            <input asp-for="City" />
                            <span asp-validation-for="City" class="text-danger"></span>
                            </div>
                            <div class="col-lg-6">
                            <label asp-for="Country"></label>
                            <input asp-for="Country" />
                            <span asp-validation-for="Country" class="text-danger"></span>
                            </div>
                            <div class="col-lg-12">
                            <label asp-for="Username"></label>
                            <input asp-for="Username" readonly />
                            <span asp-validation-for="Username" class="text-danger"></span>
                            </div>
                        </div>
                        <input asp-for="Password" type="hidden" value="@Model.Password" />
                        <div class="form-group">
                            <input type="submit" value="Save" class="primary-btn"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
