
@{
    ViewData["Title"] = "Access Denied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid access-denied">
    <!-- 404 Error Text -->
    <div class="text-center">
        <h1 class="error mx-auto" data-text="Access Denied">Access Denied</h1>
        <p class="text-gray-500 mb-3">It looks like you found a glitch in the matrix...</p>
        <a asp-controller="Home" asp-action="Index">Back to Homepage</a>
    </div>
</div>
