@model BusinessObject.Product

@{
    ViewData["Title"] = "Create Product";
    Layout = "~/Views/Shared/_Admin.cshtml";
}


@if (ViewBag.Error != null)
{
    <div class="text-danger">
        @ViewBag.Error
    </div>
}
else
{
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-2 text-gray-800">@ViewData["Title"]</h1>
    </div>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Product</h6>
        </div>
        <div class="card-body">
            <form asp-action="CreateProduct" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="CategoryId" class="control-label"></label>
                    <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Category"></select>
                    <small class="text-muted form-text">
                        <a class="btn btn-sm btn-outline-info" asp-action="Category">
                            + Create new Category
                        </a>
                    </small>
                </div>
                <div class="form-group">
                    <label asp-for="ProductName" class="control-label"></label>
                    <input asp-for="ProductName" class="form-control" />
                    <span asp-validation-for="ProductName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Weight" class="control-label"></label>
                    <input asp-for="Weight" class="form-control" />
                    <span asp-validation-for="Weight" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UnitPrice" class="control-label"></label>
                    <input asp-for="UnitPrice" class="form-control" />
                    <span asp-validation-for="UnitPrice" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UnitsInStock" class="control-label"></label>
                    <input asp-for="UnitsInStock" class="form-control" />
                    <span asp-validation-for="UnitsInStock" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Details" class="control-label"></label>
                    <textarea asp-for="Details" type="file" class="form-control"></textarea>
                    <span asp-validation-for="Details" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" id="productDescription" type="file" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Photo</label>
                    <input name="fileAnh" type="file" accept=".jpg, .jpeg, .png" onchange="document.getElementById('imagePrv').src = window.URL.createObjectURL(this.files[0])" />
                    <img id="imagePrv" src="" width="300" />
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
}
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.10.5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: '#productDescription',
            branding: !1,
            menubar: "file edit view insert format tools table custom",
            plugins: "link image preview codesample table toc wordcount code lists insertdatetime emoticons visualblocks autoresize",
            toolbar: "formatselect | bold italic underline strikethrough superscript subscript blockquote | link image | alignleft aligncenter alignright alignjustify bullist numlist | table toc | codesample preview insertdatetime emoticons visualblocks code",
            toolbar_sticky: !0,
            toolbar_sticky_offset: 64,
            toc_class: "elcTOC",
            toc_depth: 6,
            content_css: "http://127.0.0.1:5500/plugins/auth/styles/tinymce.css",
            content_css_cors: !0,
            extended_valid_elements: "img[src|loading=lazy|alt|title|width|height|align|onmouseover|onmouseout|name]",
            insertdatetime_formats: ["Updated: %A, %d %B %Y"]
        });
    </script>
}

